<div class="header">
<div class="header-image"></div>
<div class="container-for-game">
  <div class="winner">
    <center><h1><%= @winner %> Wins!</h1></center>
  </div>
  <div class="new-game">
    <center><a href="/games/new" class="play-button2">PLAY AGAIN</a></center>
  </div>
