@font-face {
  font-family: "RabbitDice";
  src: url(/assets/FEASFBI_.TTF) format("truetype");
}

body {
  background-color: #0A0B0D;
}

h1.customfont {
  color: white;
  font-family: "RabbitDice", Verdana, Tahoma;
  font-size: 140px;
  text-align: center;
  z-index: 1;
  margin:0;
  padding-top: 450px;
  padding-right: 35px;
}

.header {
  width: 100%;
  height: 500px;
}

.header .header-image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image:url(/assets/rabbitdice.jpg);
  z-index: -1;
  position: absolute;
}

.header .header-image-small {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-image:url(/assets/rabbitdicesmall.jpg);
  z-index: -1;
  position: absolute;
}

.button-area {
  padding-top: 35px;
}

.play-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Comic Sans MS;
  font-size:33px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}

.create-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Comic Sans MS;
  font-size:35px;
  font-weight:bold;
  font-style:normal;
  height:55px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
  margin-left: 140px;
}

.play-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
  background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
  background-color:#8cb82b;
}

.play-button:active {
  position:relative;
  top:1px;
}

.container {
  padding-top: 430px;
  padding-left: 700px;
}

.container-for-game {

}

.container label {
  color: white;
}

.container input[type="text"]{
  border:2px solid #FF8B30;
  border-radius:10px;
  height: 30px;
  width: 250px;
  margin-bottom: 5px;
}

.more-button button{
  float: right;
  padding-right: 10px;
}

.instructions {
  float:left;
  width: 50%;
  padding-top: 415px;
  padding-left: 200px;
}

.instruction-box {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-y:hidden; 
  overflow-x:hidden;
}

.instructions h2 {
  color: white;
  font-family: "RabbitDice", Verdana, Tahoma;
}

.instructions p, ul {
  color: #CCC;
}

.instructions strong {
  color: #FFF;
}

#eyelids {
  height: 30px;
  width: 100px;
  z-index: 5;
  float: right;
  position: absolute;
  margin-top: 175px;
  margin-left: 700px;
}

.game-area {
  height: 70%;
  padding-top: 430px;
}

.top-area h1 {
  color: white;
  font-family: "RabbitDice", Verdana, Tahoma;
  font-size: 50px;
  padding-left: 520px;
  float: bottom;
  padding-top: 370px;
  z-index: 2;
  position: absolute;
}

.top-area {
  height: 30%;
}

.scores {
  float: right
}

.scores h1 {
  color:white;
  font-family: "RabbitDice", Verdana, Tahoma;
  font-size: 40px;
  padding-left: 40px;
}

.scores ul {
  float: right;
  padding-right: 80px;
}

.scores li {
  color: white;
  font-size: 20px;
}

.rolled li {
  display: inline;
  list-style-type: none;
  font-size: 50px;
}

.rolled ul {
  padding-left: 470px;
  padding-top: 5px;
}

.rolled h1 {
  padding-left: 470px;
  margin: 0;
}

.btn .btn-success {
  z-index: 5;
  position: absolute;
  margin-left: 65px;
  margin-top: 30px;
  width: 300px;
  height: 75px;
}

.btn .btn-danger {
  z-index: 5;
  position: absolute;
  margin-left: 65px;
  width: 300px;
  margin-top: 100px;
}

.roll-count ul {
  padding-left: 470px;
}

.roll-count li {
  color:white;
  display: inline;
  list-style-type: none;
  font-size: 20px;
}

.winner h1 {
  color:white;
  font-family: "RabbitDice", Verdana, Tahoma;
  font-size: 80px;
  /*padding-left: 440px;*/
  margin: 0;
  padding-top: 440px;
}

.new-game {
  padding-top: 50px;
}

.play-button2 {
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Comic Sans MS;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}

